<#include "header.html"/>
<link rel="stylesheet" type="text/css" href="/css/order.src.css" charset="gbk">	
<div class="wrap">	
	<input type="hidden" id="page" value="1">
<section class="order-con">
			<ul class="order-list" id="orders_list">
			      			<li>
					<div class="order-box">
						<a class="new-mu_l2a new-p-re" href="http://m.jd.com/user/oneorderdetail.action?orderId=5187622700&passKey=71917e66bdc4a681bb8fcf80be3f9461&sid=89341e0228617c1952f10e7cebfb02b2">
							<div class="order-msg">
								<img src="/images/5473e8e5N6c45d009.jpg">
								<div class="order-msg">
									<p class="title"> 未来人类（Terrans Force）X411 14英寸游戏本(i7-4760HQ 8G 7200转1TB 锐炬显卡 全高清屏 薄至21mm)黑 </p>
									<p class="price">¥5499.00<span></span></p>
									<p class="order-data">2014-11-11 11:31:11</p>
								</div>
							</div>
                           </a>
					                        						<div class="pay-order"><a href="http://m.jd.com/user/orderTracking.action?orderId=5187622700&passKey=71917e66bdc4a681bb8fcf80be3f9461&sid=89341e0228617c1952f10e7cebfb02b2">订单跟踪</a></div>&nbsp;
																			<div class="pay-order"><a href="http://m.mrd.jd.com/afs/repairProducts?orderId=5187622700&sid=89341e0228617c1952f10e7cebfb02b2">返修/退换货</a></div>
																							</div>
        		</li>
			      			<li>
					<div class="order-box">
						<a class="new-mu_l2a new-p-re" href="http://m.jd.com/user/oneorderdetail.action?orderId=1752798814&passKey=0a8879276f6c11fe3231988906d9fad4&sid=89341e0228617c1952f10e7cebfb02b2">
							<div class="order-msg">
								<img src="/images/53db5052N39910a85.jpg">
								<div class="order-msg">
									<p class="title"> 魅族 MX3 16G 3G手机（前黑后白） TD-SCDMA/GSM </p>
									<p class="price">¥1599.00<span></span></p>
									<p class="order-data">2014-08-14 20:05:25</p>
								</div>
							</div>
                           </a>
					                        						<div class="pay-order"><a href="http://m.jd.com/user/orderTracking.action?orderId=1752798814&passKey=0a8879276f6c11fe3231988906d9fad4&sid=89341e0228617c1952f10e7cebfb02b2">订单跟踪</a></div>&nbsp;
																			<div class="pay-order"><a href="http://m.mrd.jd.com/afs/repairProducts?orderId=1752798814&sid=89341e0228617c1952f10e7cebfb02b2">返修/退换货</a></div>
																							</div>
        		</li>
			      			<li>
					<div class="order-box">
						<a class="new-mu_l2a new-p-re" href="http://m.jd.com/user/oneorderdetail.action?orderId=1224329120&passKey=a3a7ce55da0794e0fb58d9247df44eca&sid=89341e0228617c1952f10e7cebfb02b2">
							<div class="order-msg">
								<img src="/images/rBEhVFKvrjsIAAAAAAFJ59f6ST8AAG3_wLx70YAAUn_356.jpg">
								<div class="order-msg">
									<p class="title"> TCL i310 GSM老人手机 （纯净白） </p>
									<p class="price">¥249.00<span></span></p>
									<p class="order-data">2014-03-25 20:25:40</p>
								</div>
							</div>
                           </a>
					                        						<div class="pay-order"><a href="http://m.jd.com/user/orderTracking.action?orderId=1224329120&passKey=a3a7ce55da0794e0fb58d9247df44eca&sid=89341e0228617c1952f10e7cebfb02b2">订单跟踪</a></div>&nbsp;
																			<div class="pay-order"><a href="http://m.mrd.jd.com/afs/repairProducts?orderId=1224329120&sid=89341e0228617c1952f10e7cebfb02b2">返修/退换货</a></div>
																							</div>
        		</li>
			      			<li>
					<div class="order-box">
						<a class="new-mu_l2a new-p-re" href="http://m.jd.com/user/oneorderdetail.action?orderId=1131891792&passKey=62b6f5d0cb69f5071e5cd5fbef540069&sid=89341e0228617c1952f10e7cebfb02b2">
							<div class="order-msg">
								<img src="/images/rBEhVFKoKMEIAAAAAAFuMvWqu6kAAGqmAF2LLcAAW5K412.jpg">
								<div class="order-msg">
									<p class="title"> 绿蜗 新款韩版淑女气质貉子毛领收腰系带中长款羽绒服 女 中长款DJ3339 大红 M </p>
									<p class="price">¥622.00<span></span></p>
									<p class="order-data">2014-02-28 20:49:47</p>
								</div>
							</div>
                           </a>
					                        						<div class="pay-order"><a href="http://m.jd.com/user/orderTracking.action?orderId=1131891792&passKey=62b6f5d0cb69f5071e5cd5fbef540069&sid=89341e0228617c1952f10e7cebfb02b2">订单跟踪</a></div>&nbsp;
																			<div class="pay-order"><a href="http://m.mrd.jd.com/afs/repairProducts?orderId=1131891792&sid=89341e0228617c1952f10e7cebfb02b2">返修/退换货</a></div>
																							</div>
        		</li>
					    </ul>
		    <div id="spinner" class="new-spinner" style="margin-left: 661.5px;"></div>
			<div class="new-load-more" style="text-align:center;" id="con_more"><span style="font-size:12px;">加载更多</span></div>
			
	    	</section>
</div>


<script type="text/javascript">

$(function(){
	var spinner = createSpinner();
	var screenWidth = parseInt(document.body.clientWidth);
	$("#spinner").css("margin-left",(screenWidth/2-50)+"px");
	$(window).resize(function() {
       var screenWidth = parseInt(document.body.clientWidth);
	   $("#spinner").css("margin-left",(screenWidth/2-50)+"px");
    });
    //加载更多
    $("#con_more").click(function(){
        $(this).hide();
        $("#spinner").show();
        spinner.spin($("#spinner")[0]);
        var nextPage = parseInt($('#page').val())+1;
        $('#page').val(nextPage);
        jQuery.post('/user/userAllOrderList.json?sid=89341e0228617c1952f10e7cebfb02b2',{page:nextPage},function(data){
             spinner.stop();
             $("#spinner").hide();
             $("#con_more").show();
            jQuery.each(data.orders,function(i,order){
				var chooseUrl ='http://m.jd.com/user/oneorderdetail.action?orderId={orderId}&passKey={passKey}&sid=89341e0228617c1952f10e7cebfb02b2';
				 chooseUrl = chooseUrl.replace('{orderId}',order.orderId);
				 var passKey = data.passKeyList[i];	 
                 var content ='<li>'+
				 					'<a class="new-mu_l2a new-p-re"    href="'+chooseUrl.replace('{passKey}',passKey)+'" >'+
                					'<div class="order-box">'+
                							'<div class="order-msg">'+
                								'<img src="'+order.imgPath.replace("/n5/","/n7/")+'">'+
                								'<div class="order-msg">'+
                									'<p class="title">'+order.orderMsg.wareInfoList[0].wname+'</p>'+
                									'<p class="price">&yen;'+order.price+'<span></span></p>'+
                									'<p class="order-data">'+order.dataSubmit+'</p>'+
                								'</div>'+
                							'</div>'+
									'</a>';
									if(order.paymentType==4 && order.orderStatus=="等待付款" && order.orderType != 17){
										var toPayUrl = 'https://pay.m.jd.com/pay/pay.action?orderId={orderId}&orderKind=0&sid=89341e0228617c1952f10e7cebfb02b2'
										content += '<div  class="pay-order"> '+
        														'<a  href="'+toPayUrl.replace('{orderId}',order.orderId)+'"> '+
        															'在线支付'+
        														'</a> '+
												   ' </div>';
									}
									else if( order.paymentType==2 && order.orderStatus=="等待付款"){
										var toPostUrl = 'http://m.jd.com/user/postdetail.action?orderId={orderId}&sid=89341e0228617c1952f10e7cebfb02b2'
										content +=  '<div  class="pay-order"> '+
            													'<a  href="'+toPostUrl.replace('{orderId}',order.orderId)+'"> '+
            														'邮局汇款确认'+
            													'</a> '+
												 ' </div>';
									}
									else{
										var toOrderTrackingUrl = 'http://m.jd.com/user/orderTracking.action?orderId={orderId}&passKey={passKey}&sid=89341e0228617c1952f10e7cebfb02b2';
    									toOrderTrackingUrl = toOrderTrackingUrl.replace('{orderId}',order.orderId);
																				
										
										var repairUrl = 'http://m.mrd.jd.com/afs/repairProducts?orderId={orderId}&sid=89341e0228617c1952f10e7cebfb02b2';
										repairUrl = repairUrl.replace('{orderId}',order.orderId);
										
										var SurveyUrl = 'http://m.jd.com/user/getSurveyById.action?orderId={orderId}&orderType=0&sid=89341e0228617c1952f10e7cebfb02b2';
										SurveyUrl = SurveyUrl.replace('{orderId}',order.orderId);
										if(order.confirmGoods){
											content += '<div  class="pay-order"> '+
        														'<a  href="'+toOrderTrackingUrl.replace('{passKey}',passKey)+'"> '+ 
        															'订单跟踪'+
        														'</a> '+
        											  ' </div> &nbsp;'+
													  '<div  class="pay-order"> '+
        														'<a  onclick="confirmGoods('+order.orderId+')" href="javascript:void(0);"> '+
        															'确认收货'+
        														'</a> '+
                                                     ' </div>&bsp;';
										}
										else  if( order.orderStatus=="完成" )   {
											content += '<div  class="pay-order"> '
        														+'<a  href="'+toOrderTrackingUrl.replace('{passKey}',passKey)+'"> '
        															+'订单跟踪'
        														+'</a> '
                                                      +' </div>&nbsp;'
													  if(true){
									                 	 content += '<div  class="pay-order"><a href="'+repairUrl+'">返修/退换货</a></div>'
													  }
										}else{
										    content += '<div  class="pay-order"> '
        														+'<a  href="'+toOrderTrackingUrl.replace('{passKey}',passKey)+'"> '
        															+'订单跟踪'
        														+'</a> '
                                                      +' </div>&nbsp;'		
										
										
										}
										
									}
                				content += '</div>'+
                        		'</li>';
								
								
								$('.order-list').append(content);
            });
        });
    });
});


function confirmGoods(orderId){
	if(confirm("是否确认收货")){
		jQuery.get(
			'http://m.jd.com/user/confirmGoods.json?sid=89341e0228617c1952f10e7cebfb02b2',
			{"orderId":orderId},
			function(data){
                alert(data.message);
				location.reload(true);
			},"json");
	}
	else{
		return false;
	}
}

$(".confirmGoods").click(function(){
	if(confirm("是否确认收货")){
		var can=$(".confirmGoods").index($(this));
		jQuery.get(
			'http://m.jd.com/user/confirmGoods.json?sid=89341e0228617c1952f10e7cebfb02b2',
			{"orderId":$(this).attr("val")},
			function(data){
              	alert(data.message);
				location.reload(true);
			},"json");
	}
	else{
		return false;
	}
});

$(window).unload(function(){
  $('#page').val("1");
});

</script>
<#include "footer.html" />