<#include "header.html"/>
<link rel="stylesheet" type="text/css" href="/css/sale.css"
	charset="gbk">
<input type="hidden" id="page" value="1">
<div class="new-ct">
	<div class="new-goods-lst">
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">南极熊</span> <span class="new-txt2"> </span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="${ctx}/index/promotion_item">
					<img src="/demo/promotion/54742829Ncbf9b1be.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2014-12-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">时尚类杂志展示专场</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=119822&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/547545cdN939d5ece.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-01-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">长喜英语四五折封顶</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=118908&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/546d50f4N9ecbd3f0.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-01-01</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">亲亲科学图书馆京东专题</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=119758&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/54744d6cN406ad44f.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2014-12-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">法治中国从阅读开始—京东图书</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=118216&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/5466a895Nee0016cb.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-01-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">江苏科技-太极/武术/气功</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=118084&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/54657aaeN3858869d.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-02-28</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">天闻角川-高木直子与你一起冲出亚洲</span> <span
					class="new-txt2"> </span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=117976&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/546448dfNe222392a.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-08-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">国学小书院7-10岁必读</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=119655&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/54740f9cNc23451ca.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2014-12-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">忘川（上、下）</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=115853&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/5459bf3dN4cdccaf1.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2049-08-05</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">看一只为爱寻蛋的母鸡，如何温暖这个即将到来的冬季！</span> <span
					class="new-txt2"> </span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=115521&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/54584b44N04c0556e.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-12-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">十万个为什么</span> <span class="new-txt2"> </span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=112392&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/544a03f3N10a1eae4.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2014-12-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">新华先锋-社科专题</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=112629&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/544e01edNda08a81c.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-10-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">黄雅莉《奇幻秀》-漫友文化</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=110247&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/54461faeN142c7065.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-02-28</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">养肾就是养命</span> <span class="new-txt2"> </span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=109671&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/5444bb64Nc4be41fc.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-10-20</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">神秘富商</span> <span class="new-txt2"> </span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=109489&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/54446a62N5621d205.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-01-29</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">世界知识体育明星-中文图书-京东商城</span> <span
					class="new-txt2"> </span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=108701&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/543f3c95Nc611bade.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-03-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">最孤独的冰箱和有故事的远方专题</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=107201&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/543cb131N6c9063c4.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2014-12-31</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">我在史铁生专题图</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=106042&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/5435e0dfN4c8f89e7.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2014-12-08</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">清华社-网页设计展示</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=105970&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/5434f098Nc3433840.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2014-12-08</span>
				</a>
			</div>
		</div>
		<div class="new-goods-ad">
			<p class="new-ad-cont">
				<span class="new-txt">电子--深度游</span> <span class="new-txt2">
				</span>
			</p>
			<div class="new-ad-img new-p-re">
				<a
					href="http://m.jd.com/promotion/promotionActivityWare.action?activityId=105881&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400">
					<img src="/demo/promotion/5433f142N7a72630a.jpg!q70.jpg" width="308"
					height="100" alt=""> <span>截止日期：2015-01-15</span>
				</a>
			</div>
		</div>
	</div>

	<div class="new-paging">
		<div class="new-tbl-type">
			<div class="new-tbl-cell">
				<span class="new-a-prve"><span>上一页</span></span>
			</div>
			<div class="new-tbl-cell new-p-re">
				<div class="new-a-page">
					<span class="new-open">1/3</span>
				</div>
				<select class="new-select"
					onchange="window.location.href=this.value">
					<option
						value="/promotion/activity.action?type=104&amp;page=1&amp;resourceType=index_floor&amp;resourceValue=t104&amp;sid=d18b5fb360cb2d201c0e66e4c89d1400"
						selected="">第1页</option>
					<option
						value="/promotion/activity.action?type=104&amp;page=2&amp;resourceType=index_floor&amp;resourceValue=t104&amp;sid=d18b5fb360cb2d201c0e66e4c89d1400">第2页</option>
					<option
						value="/promotion/activity.action?type=104&amp;page=3&amp;resourceType=index_floor&amp;resourceValue=t104&amp;sid=d18b5fb360cb2d201c0e66e4c89d1400">第3页</option>
				</select>
			</div>
			<div class="new-tbl-cell">
				<a class="new-a-next" href="javascript:window.location.href="
					/promotion/activity.action?type=104&page=2&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400""><span>下一页</span></a>
			</div>
		</div>
	</div>

</div>
<#include "footer.html" />
