<#include "header.html"/>
<link rel="stylesheet" type="text/css" href="/css/sale.css"
	charset="gbk">
<input type="hidden" id="page" value="1">
<input type="hidden" id="module" value="1">
<div class="new-ct">
	<div class="new-search new-goods-lst">
		<div class="new-goods-tab">
			<span class="tit">好书好碟<a
				href="${ctx}/index/promotion"
				class="link-acition">活动列表</a></span>
			<div class="new-goods-btn">
				<a id="m2"
					href="http://m.jd.com/promotion/hotSaleWare.action?type=104&module=2&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
					class="new-g-tbn">列表图</a> <a id="m1" href="/images/活动列表.html"
					class="new-g-tbn2 on">列表</a> <a id="m3"
					href="http://m.jd.com/promotion/hotSaleWare.action?type=104&module=3&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
					class="new-g-tbn3">放大</a>
			</div>
		</div>
		<ul class="new-mu_l2w">
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/1089991253.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEhU1MZZusIAAAAAAGQBk5-IHcAAJolgFPJG8AAZAe348.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">迪士尼动画美绘典藏书系：冰雪奇缘 少儿卡通动漫</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥17.10</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11401912.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEhWVMBf9gIAAAAAAOGXLnokBMAAImFQOp_1YAA4Z0547.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">纸牌屋</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥23.40</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11397904.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/53d089acN66493cf6.jpg" width="100" height="100"
						alt=""></span> <span class="new-mu_l2cw"> <strong
						class="new-mu_l2h">中公版2015国家公务员录用考试专业教材真题套装行政职业能力测验 申论
							历年真题精解（共3册 2015国考）</strong> <span class="new-mu_l2h new-mu_l2h-v1"><span
							class="new-txt-rd2"></span></span> <span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥59.00</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/10104858.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEHZlDaalMIAAAAAACYyGdMy_UAADa4gLORWYAAJjg769.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">怀孕40周完美方案（升级畅销版）</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥15.00</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11216534.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEQWFFmY0gIAAAAAAzwXzhUiSYAAD5AwOD2b0ADPB3643.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">致我们终将逝去的青春（电影纪念版）</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥18.20</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11293862.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEhWlIDZHEIAAAAAAgV6bD1JTcAAB26gAaWVwACBYB478.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">一个人的朝圣</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥22.60</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11173071.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEQYVMqVLUIAAAAAAVy6DthPs8AAC_GQEbUY8ABXMA270.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">十万个为什么（幼儿注音版 套装共8册）</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥60.60</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11346083.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEhWlJwwaUIAAAAAAQyr8Y2lSsAAExhAFZcRAABDLH669.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">金字塔原理：思考、表达和解决问题的逻辑</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥31.40</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11477169.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/53a13c57N5718312a.jpg" width="100" height="100"
						alt=""></span> <span class="new-mu_l2cw"> <strong
						class="new-mu_l2h">时寒冰说：未来二十年，经济大趋势（现实篇）</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥32.60</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11502853.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/543f5368N9681cdad.jpg" width="100" height="100"
						alt=""></span> <span class="new-mu_l2cw"> <strong
						class="new-mu_l2h">韩寒：告白与告别</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥23.20</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11468070.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/53957680N0a99c3bd.jpg" width="100" height="100"
						alt=""></span> <span class="new-mu_l2cw"> <strong
						class="new-mu_l2h">你的孤独，虽败犹荣</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥27.60</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11258976.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEhVVHD7AwIAAAAAAQs0hn4M90AAAaJwGGLAcABCzq334.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">追风筝的人</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥21.70</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11506268.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/53cd3ec5N03b97b57.jpg" width="100" height="100"
						alt=""></span> <span class="new-mu_l2cw"> <strong
						class="new-mu_l2h">让我留在你身边</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥25.60</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11377324.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEhUlKzn_IIAAAAAAOWJA-b7n0AAHB0QK8f9gAA5Y8037.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">起风了</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥15.00</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11338771.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEhV1JeWDYIAAAAAAQ6gI2FvGcAAEQGACIV_EABDqY709.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">从你的全世界路过：让所有人心动的故事</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥24.80</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11426404.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEhWlMoBigIAAAAAAWtP0fEqJcAAKSfAMbGecABa1X005.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">一切都是最好的安排</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥27.70</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/10658646.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEhUlNQteEIAAAAAAtdoWkefkwAAMC2QA28NIAC125952.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">百年孤独</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥29.60</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11404149.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEhWFL9Z7EIAAAAAAdc8SdECaEAAIfQwP3KYMAB10J106.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">会做饭的孩子走到哪里都能活下去</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥23.40</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11143153.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEHalDFjFQIAAAAAAEmwTp_bssAADNNAK8saMAASbZ216.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">大数据时代</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥33.20</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
			<li class="new-mu_l2"><a
				href="http://m.jd.com/product/11090643.html?resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"
				class="new-mu_l2a"> <span class="new-mu_tmb"><img
						src="/images/rBEHaVBX79gIAAAAAABzW-4WDNYAABYigFqS0YAAHNz861.jpg"
						width="100" height="100" alt=""></span> <span class="new-mu_l2cw">
						<strong class="new-mu_l2h">活着（新版）</strong> <span
						class="new-mu_l2h new-mu_l2h-v1"><span class="new-txt-rd2"></span></span>
						<span class="new-mu_l2c new-p-re"><strong
							class="new-txt-rd2">¥13.30</strong> <span class="new-txt-price"
							style="color: red"> </span> </span>
				</span>
			</a></li>
		</ul>

	</div>


	<div class="new-paging">
		<div class="new-tbl-type">
			<div class="new-tbl-cell">
				<span class="new-a-prve"><span>上一页</span></span>
			</div>
			<div class="new-tbl-cell new-p-re">
				<div class="new-a-page">
					<span class="new-open">1/5</span>
				</div>
				<select class="new-select"
					onchange="window.location.href=this.value">
					<option
						value="/promotion/hotSaleWare.action?type=104&amp;page=1&amp;module=1&amp;resourceType=index_floor&amp;resourceValue=t104&amp;sid=d18b5fb360cb2d201c0e66e4c89d1400"
						selected="">第1页</option>
					<option
						value="/promotion/hotSaleWare.action?type=104&amp;page=2&amp;module=1&amp;resourceType=index_floor&amp;resourceValue=t104&amp;sid=d18b5fb360cb2d201c0e66e4c89d1400">第2页</option>
					<option
						value="/promotion/hotSaleWare.action?type=104&amp;page=3&amp;module=1&amp;resourceType=index_floor&amp;resourceValue=t104&amp;sid=d18b5fb360cb2d201c0e66e4c89d1400">第3页</option>
					<option
						value="/promotion/hotSaleWare.action?type=104&amp;page=4&amp;module=1&amp;resourceType=index_floor&amp;resourceValue=t104&amp;sid=d18b5fb360cb2d201c0e66e4c89d1400">第4页</option>
					<option
						value="/promotion/hotSaleWare.action?type=104&amp;page=5&amp;module=1&amp;resourceType=index_floor&amp;resourceValue=t104&amp;sid=d18b5fb360cb2d201c0e66e4c89d1400">第5页</option>
				</select>
			</div>
			<div class="new-tbl-cell">
				<a class="new-a-next"
					href="http://m.jd.com/promotion/hotSaleWare.action?type=104&page=2&module=1&resourceType=index_floor&resourceValue=t104&sid=d18b5fb360cb2d201c0e66e4c89d1400"><span>下一页</span></a>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var m = $('#module').val();
		$('#m' + m).addClass('on');
	})
</script>
<#include "footer.html" />
