<div class="new-jd-tab" style="display: none" id="jdkey">
	<div class="new-tbl-type">
		<a
			href="${ctx}/index"
			class="new-tbl-cell"> <span class="icon">首页</span>
			<p style="color: #6e6e6e;">首页</p>
		</a> <a
			href="${ctx}/index/category"
			class="new-tbl-cell"> <span class="icon2">分类搜索</span>
			<p style="color: #6e6e6e;">分类搜索</p>
		</a> <a href="${ctx}/index/cart" id="html5_cart" class="new-tbl-cell">
			<span class="icon3">购物车</span>
			<p style="color: #6e6e6e;">购物车</p>
		</a> <a
			href="${ctx}/index/user"
			class="new-tbl-cell"> <span class="icon4 on">我的京东</span>
			<p style="color: #6e6e6e;" class="on">我的京东</p>
		</a>
	</div>
</div>
	